<table class="table table-striped">
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Description</th>
    <th>Design</th>
    <th>iGEM part</th>
    <th>Team website</th>
    <th>DNA sequence</th>
    <th></th>
    <th></th>
  </tr>
  {% for biobrick in biobricks %}
    <tr>
      <td>{{biobrick.category}}</td>
      <td>{{biobrick.name}}</td>
      <td>{{biobrick.description}}</td>
      <td>{{biobrick.design}}</td>
      <td>{{biobrick.igem_part_link}}</td>
      <td>{{biobrick.team_website}}</td>
      <td>{{biobrick.dna_sequence}}</td>
      <td class="text-center">
        <a href="{% url 'bioadmin:delete_biobrick' biobrick.id %}">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </td>
      <td class="text-center">
        <a href="{% url 'bioadmin:edit_biobrick' biobrick.id %}">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
      </td>
    </tr>
  {% endfor %}
</table>

