<table class="table table-zebra">
  <tr>
    <th>Navn</th>
    <th>Kategori</th>
    <th>iGEM del</th>
    <th>Team website</th>
    <th></th>
  </tr>
  {% for biobrick in biobricks %}
    <tr>
      <td>{{biobrick.name}}</td>
      <td>{{biobrick.category}}</td>
      <td><a target="_blank" href="http://parts.igem.org/Part:{{biobrick.igem_part}}">{{biobrick.igem_part}}</a></td>
      <td><a target="_blank" href="{{biobrick.team_website}}">{{biobrick.team_website}}</a></td>
      <td class="text-xs-right nowrap">
        <a href="{% url 'bioadmin:delete_biobrick' biobrick.id %}">
          <svg role="img" class="icon" title="Slet">
            <use xlink:href="/static/sprite.svg#sprite_delete"/>
          </svg>
        </a>
        <a href="{% url 'bioadmin:edit_biobrick' biobrick.id %}">
          <svg role="img" class="icon" title="Redigér">
            <use xlink:href="/static/sprite.svg#sprite_pencil"/>
          </svg>
        </a>
      </td>
    </tr>
  {% endfor %}
</table>
