{% load staticfiles %}
{% load bootstrap3 %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock %} | Biosensor admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/bioadmin.min.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/base.js" %}"></script>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
    {% block head_statics %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>Biosensor administration</h1>

          <ul class="nav nav-tabs">
            <li><a href="{% url 'bioadmin:index' %}">Home</a></li>
            <li><a href="{% url 'bioadmin:schools' %}">Schools</a></li>
            <li><a href="{% url 'bioadmin:teachers' %}">Teachers</a></li>
            <li><a href="{% url 'bioadmin:student_groups' %}">Student groups</a></li>
            <li><a href="{% url 'bioadmin:catalog' %}">Catalog</a></li>
            <li class="pull-right"><a href="{% url 'account_logout'%}">Log out</a></li>
            <li class="pull-right"><a href="{% url 'homepage'%}">Go to home page</a></li>
          </ul>

          {% bootstrap_messages %}

          {% block main %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>


