{% extends "bioadmin/base.html" %}
{% load bootstrap3 %}

{% block head_title %}
{% if biobrick %} Edit {% else %} Add {% endif %} {{biobrick_type|capfirst}} | {{ block.super }}
{% endblock %}

{% block head_statics %}
{{ form.media }}
{% endblock %}

{% block main %}

<h1>
{% if biobrick %} Redigér {% else %} Tilføj {% endif %} {{biobrick_type|capfirst}}
</h1>

<div class="row">

<div class="col-md-8">

{% if biobrick %}
  <form method="POST" action="{% url 'bioadmin:edit_biobrick' biobrick.id %}" class="form">
{% else %}
  <form method="POST" action="{% url 'bioadmin:new_biobrick' biobrick_type %}" class="form">
{% endif %}
    {% csrf_token %}

    {% bootstrap_field form.name %}
    {% bootstrap_field form.category %}
    {% bootstrap_field form.description %}
    {% bootstrap_field form.design %}
    {% bootstrap_field form.igem_part %}
    {% bootstrap_field form.team_website %}
    {% bootstrap_field form.dna_sequence %}
    {% bootstrap_field form.coord_x %}
    {% bootstrap_field form.coord_y %}

    <button type="submit" class="btn btn-primary">
    {% if biobrick %}
      Gem ændringer
    {% else %}
      Tilføj biobrik
    {% endif %}
    </button>
</form>

</div>

</div>

{% endblock %}
