{% extends "bioadmin/base.html" %}
{% load bootstrap3 %}

{% block head_title %}
{% if biosensor %}
  Redigér biosensor
{% else %}
  Tilføj biosensor
{% endif %}
 | {{ block.super }}
 {% endblock %}


{% block main %}
<h1 class="m-b-2">
{% if biosensor %}
  Redigér biosensor
{% else %}
  Tilføj biosensor
{% endif %}
</h1>

<div class="row">
  <div class="col-md-8">

  {% if biosensor %}
    <form method="POST" action="{% url 'bioadmin:edit_biosensor' biosensor.id %}" class="form">
  {% else %}
    <form method="POST" action="{% url 'bioadmin:new_biosensor' %}" class="form">
  {% endif %}
      {% csrf_token %}

      {% bootstrap_form form %}
      <div class="m-t-3">
        <button type="submit" class="btn btn-primary">
        {% if biosensor %}
          Gem ændringer
        {% else %}
          Tilføj biosensor
        {% endif %}
        </button>
        <a class="btn btn-link" href="{% url 'bioadmin:catalog' %}">Annullér</a>
      </div>
    </form>

  </div>
</div>

{% endblock %}
