{% extends "bioadmin/base.html" %}
{% load staticfiles %}

{% block head_title %}Biobrick overview{% endblock %}

{% block main %}
<h2>Catalog overview</h2>

<section>
<h3>Biosensors</h3>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Detector</th>
    <th>Responder</th>
    <th>Category</th>
    <th>Problem description</th>
    <th>Risk description</th>
    <th></th>
    <th></th>
  </tr>
  {% for biosensor in biosensors %}
    <tr>
      <td>{{biosensor.name}}</td>
      <td>{{biosensor.detector}}</td>
      <td>{{biosensor.responder}}</td>
      <td>{{biosensor.category}}</td>
      <td>{{biosensor.problem_description}}</td>
      <td>{{biosensor.risk_description}}</td>
      <td class="text-center">
        <a href="{% url 'bioadmin:delete_biosensor' biosensor.id %}">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </td>
      <td class="text-center">
        <a href="{% url 'bioadmin:edit_biosensor' biosensor.id %}">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
      </td>
    </tr>
  {% endfor %}
</table>

<a class="btn btn-primary" href="{% url 'bioadmin:new_biosensor' %}">Add biosensor</a>
</section>

<section>
<h3>Detectors</h3>

{% include "bioadmin/_biobricks.html" with biobricks=detectors %}

<a class="btn btn-primary" href="{% url 'bioadmin:new_biobrick' 'detector' %}">Add detector</a>
</section>

<section>
<h3>Responders</h3>

{% include "bioadmin/_biobricks.html" with biobricks=responders %}

<a class="btn btn-primary" href="{% url 'bioadmin:new_biobrick' 'responder' %}">Add responder</a>
</section>

<section>
<h3>Biobrick Categories</h3>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Category type</th>
    <th></th>
    <th></th>
  </tr>
  {% for category in categories %}
    <tr>
      <td>{{category.name}}</td>
      <td>{{category.category_type|capfirst}}</td>
      <td class="text-center">
        <a href="{% url 'bioadmin:delete_category' category.id %}">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </td>
      <td class="text-center">
        <a href="{% url 'bioadmin:edit_category' category.id %}">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
      </td>
    </tr>
  {% endfor %}
</table>

<a class="btn btn-primary" href="{% url 'bioadmin:new_category' %}">Add category</a>
</section>

{% endblock %}

