{% extends "bioadmin/base.html" %}
{% load staticfiles %}

{% block head_title %}Katalog | {{ block.super }}{% endblock %}

{% block main %}
<h1>Katalog</h1>

<section class="m-y-3">
<h2 class="m-b-2">Biosensorer</h2>

<table class="table table-zebra">
  <tr>
    <th>Navn</th>
    <th>Detektorgen</th>
    <th>Responsgen</th>
    <th>Kategori</th>
    <th></th>
  </tr>
  {% for biosensor in biosensors %}
    <tr>
      <td><a href="{% url 'biobricks:show_biosensor' biosensor.id %}" target="_blank">{{biosensor.name}}</a></td>
      <td>{{biosensor.detector}}</td>
      <td>{{biosensor.responder}}</td>
      <td>{{biosensor.category}}</td>
      <td class="text-xs-right nowrap">
        <a href="{% url 'bioadmin:delete_biosensor' biosensor.id %}">
          <svg role="img" class="icon" title="Slet">
            <use xlink:href="/static/sprite.svg#sprite_delete"/>
          </svg>
        </a>
        <a href="{% url 'bioadmin:edit_biosensor' biosensor.id %}">
          <svg role="img" class="icon" title="Redigér">
            <use xlink:href="/static/sprite.svg#sprite_mode_edit"/>
          </svg>
        </a>
      </td>
    </tr>
  {% endfor %}
</table>

<a class="btn btn-primary" href="{% url 'bioadmin:new_biosensor' %}">Tilføj biosensor</a>
</section>

<section class="m-y-3">
<h2 class="m-b-2">Detektorgener</h2>

{% include "bioadmin/_biobricks.html" with biobricks=detectors %}

<a class="btn btn-primary" href="{% url 'bioadmin:new_biobrick' 'detektorgen' %}">Tilføj detektor</a>
</section>

<section class="m-y-3">
<h2 class="m-b-2">Responsgener</h2>

{% include "bioadmin/_biobricks.html" with biobricks=responders %}

<a class="btn btn-primary" href="{% url 'bioadmin:new_biobrick' 'responsgen' %}">Tilføj responder</a>
</section>

<section class="m-y-3">
<h2 class="m-b-2">Biobrick kategorier</h2>

<table class="table table-zebra">
  <tr>
    <th>Navn</th>
    <th>Kategoritype</th>
    <th></th>
  </tr>
  {% for category in categories %}
    <tr>
      <td>{{category.name}}</td>
      <td>{{category.category_type|capfirst}}</td>
      <td class="text-xs-right">
        <div>
          <a href="{% url 'bioadmin:delete_category' category.id %}">
            <svg role="img" class="icon" title="Slet">
              <use xlink:href="/static/sprite.svg#sprite_delete"/>
            </svg>
          </a>
          <a href="{% url 'bioadmin:edit_category' category.id %}">
            <svg role="img" class="icon" title="Redigér">
              <use xlink:href="/static/sprite.svg#sprite_mode_edit"/>
            </svg>
          </a>
        </div>
      </td>
    </tr>
  {% endfor %}
</table>

<a class="btn btn-primary" href="{% url 'bioadmin:new_category' %}">Tilføj kategori</a>
</section>

{% endblock %}
