{% extends 'base.html' %}

{% block head_title %}Slet Biobrick | {{ block.super }}{% endblock %}

{% block main %}

<h1 class="m-b-2">Er du sikker på du vil slette {{biobrick.biobrick_type}} {{biobrick.name}}?</h1>
<form action="{% url 'bioadmin:delete_biobrick' biobrick.id%}" method='POST'>
  {% csrf_token %}
  <button name='confirmation' type="submit" class="btn btn-primary" value="yes">Slet</button>
  <button type="submit" class="btn btn-link" value='no'>Annullér</button>
</form>
{% endblock %}
