{% extends "bioadmin/base.html" %}

{% block head_title %}Slet Category | {{ block.super }}{% endblock %}

{% block main %}

{% if category.is_empty %}
<h1 class="m-b-2">Er du sikker på du vil slette {{category.name}}?</h1>

<form action="{% url 'bioadmin:delete_category' category.id%}" method='POST'>
  {% csrf_token %}
  <button name='confirmation' type="submit" class="btn btn-primary" value="yes">Slet</button>
  <button type="submit" class="btn btn-link" value='no'>Annullér</button>
</form>

{% else %}

<h1>{{category.name}} er ikke tom</h1>

<p>
  Du skal flytte alle {{category.category_type}}ere ud af denne kategori først.
</p>

<a class="btn btn-primary" href="{% url 'bioadmin:catalog' %}">Ok</a>

{% endif %}

{% endblock %}
