{% extends "bioadmin/base.html" %}
{% load staticfiles %}

{% block main %}

<h1 class="m-b-2">Dashboard</h1>
<p>
  Log ind <a href="/cms/">her</a> for at redigere i statiske sider på sitet.
  <br />
  Læs dokumentation på <a href="https://github.com/socialsquare/biosensor#cms">Github</a>
</p>


<h2>Statistik</h2>

<section class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item">Skoler: {{num_schools}}</li>
      <li class="list-group-item">Lærere: {{num_teachers}}</li>
      <li class="list-group-item">Elever: {{num_students}}</li>
      <li class="list-group-item">Elevgrupper: {{num_student_groups}}</li>
      <li class="list-group-item">Biosensorer {{num_biosensors}}</li>
    </ul>
</div>
</section>

<h2>Google Analytics</h2>
<h3>Sessions seneste 30 dage</h3>
<div id="chart-container" class="google-chart"></div>
<h3>Lande seneste 30 dage</h3>
<div id="chart-1-container" class="google-chart"></div>
<div id="embed-api-auth-container"></div>
<div id="view-selector-container"></div>

<script>
(function(w,d,s,g,js,fs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));
</script>

<script>

gapi.analytics.ready(function() {

  /**
   * Authorize the user immediately if the user has already granted access.
   * If no access has been created, render an authorize button inside the
   * element with the ID "embed-api-auth-container".
   */
  gapi.analytics.auth.authorize({
    container: 'embed-api-auth-container',
    clientid: '419834152538-5atfb28ecbjiq3mthgmhhmrnsnjpmbop.apps.googleusercontent.com'
  });


  /**
   * Create a new ViewSelector instance to be rendered inside of an
   * element with the id "view-selector-container".
   */
  var viewSelector = new gapi.analytics.ViewSelector({
    container: 'view-selector-container'
  });

  // Render the view selector to the page.
  viewSelector.execute();


  /**
   * Create a new DataChart instance with the given query parameters
   * and Google chart options. It will be rendered inside an element
   * with the id "chart-container".
   */
  var dataChart = new gapi.analytics.googleCharts.DataChart({
    query: {
      metrics: 'ga:sessions',
      dimensions: 'ga:date',
      'start-date': '30daysAgo',
      'end-date': 'yesterday'
    },
    chart: {
      container: 'chart-container',
      type: 'LINE',
      options: {
        width: '100%'
      }
    }
  });

  /**
   * Create the first DataChart for top countries over the past 30 days.
   * It will be rendered inside an element with the id "chart-1-container".
   */
  var dataChart1 = new gapi.analytics.googleCharts.DataChart({
    query: {
      metrics: 'ga:sessions',
      dimensions: 'ga:country',
      'start-date': '30daysAgo',
      'end-date': 'yesterday',
      'max-results': 6,
      sort: '-ga:sessions'
    },
    chart: {
      container: 'chart-1-container',
      type: 'PIE',
      options: {
        width: '100%',
        pieHole: 4/9
      }
    }
  });

  /**
   * Render the dataChart on the page whenever a new view is selected.
   */
  viewSelector.on('change', function(ids) {
    dataChart.set({query: {ids: ids}}).execute();
    dataChart1.set({query: {ids: ids}}).execute();
  });

});
</script>
{% endblock %}
