{% extends "bioadmin/base.html" %}
{% load staticfiles %}

{% block head_title %}Skoler | {{ block.super }}{% endblock %}

{% block main %}
<h1>Skoler</h1>

<section class="m-y-3">
<table class="table table-zebra">
  <tr>
    <th>Navn</th>
    <th>Kontaktperson</th>
    <th>Email</th>
    <th>Adresse</th>
  </tr>
  {% for school in schools %}
    <tr>
      <td>{{school.name}}</td>
      <td>{{school.contact_name}}</td>
      <td>{{school.contact_email}}</td>
      <td>{{school.address}}</td>
    </tr>
  {% endfor %}
</table>

<a class="btn btn-primary" href="{% url 'bioadmin:new_school' %}">Tilføj skole</a>
</section>

{% endblock %}
