{% extends "bioadmin/base.html" %}
{% load staticfiles %}

{% block head_title %}Elevgruppe | {{ block.super }}{% endblock %}

{% block main %}
<h1>Elevgruppe</h1>

<section class="m-y-3">
<table class="table table-zebra">
  <tr>
    <th>Gruppe</th>
    <th>Elever</th>
    <th>Skole</th>
    <th>Studieretning</th>
    <th>Årgang</th>
  </tr>
  {% for student_group in student_groups %}
    <tr>
      <td>{{student_group.name}}</td>
      <td>{{student_group.students_as_list|join:", "}}</td>
      <td>{{student_group.school_class.school.name}}</td>
      <td>{{student_group.school_class.study_field|capfirst}}</td>
      <td>{{student_group.school_class.enrollment_year}}</td>
    </tr>
  {% endfor %}
</table>
</section>

{% endblock %}
