{% extends "bioadmin/base.html" %}
{% load staticfiles %}

{% block head_title %}Elevgruppe | {{ block.super }}{% endblock %}

{% block main %}
<h1>Elevgruppe</h1>

<section class="m-y-3">
<table class="table table-zebra">
  <tr>
    <th>Gruppe</th>
    <th>Elever</th>
    <th>Kontakt-email</th>
    <th>Skole</th>
    <th>Emne</th>
    <th>Klasse</th>
  </tr>
  {% for student_group in student_groups %}
    <tr>
      <td>{{student_group.name}}</td>
      <td>{{student_group.students_as_list|join:", "}}</td>
      <td>{{student_group.user.email}}</td>
      <td>{{student_group.teacher.school.name}}</td>
      <td>{{student_group.subject}}</td>
      <td>{{student_group.grade}}.{{student_group.letter}} {{student_group.year}}</td>
    </tr>
  {% endfor %}
</table>
</section>

{% endblock %}
