{% extends "bioadmin/base.html" %}
{% load staticfiles %}

{% block head_title %}Teacher overview | {{ block.super }}{% endblock %}

{% block main %}
<h1>Lærere</h1>

<section class="m-y-3">
<table class="table table-zebra">
  <tr>
    <th>Email</th>
    <th>School</th>
    <th>Subjects</th>
  </tr>
  {% for teacher in teachers %}
    <tr>
      <td>{{teacher.user.email}}</td>
      <td>{{teacher.school}}</td>
      <td>{{teacher.subjects}}</td>
    </tr>
  {% endfor %}
</table>
</section>

{% endblock %}
