.student-group {
  align-items: flex-start;
  display: flex;

  &__delete,
  &__edit {
    flex-shrink: 0;
    line-height: 0;
    margin-top: $spacer + .1rem;
    opacity: 0;
    transition: .5s ease;
    transition-property: opacity;
    visibility: hidden;;
  }

  .icon {
    margin-left: $spacer / 4;
    margin-right: 0;
  }
}

.edit-mode {
  .student-group {
    &__delete,
    &__edit {
      opacity: 1;
      visibility: visible;
    }
  }
}
