a {
  &.card {
    &:hover {
      text-decoration: none;
    }
  }

  svg {
    vertical-align: middle;
  }
}

.card-block {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.card-footer {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
