.footer {
  background-color: $white;
  border-top: $border-width * 2 solid $border-color;
  padding: $navbar-padding;

  &__container {
    align-items: center;
    display: flex;
    height: $navbar-height;
    justify-content: flex-end;
  }

  &__link {
    color: $gray !important;
    display: block;
  }

  .logo__image {
    display: none;
  }

  .logo-text {
    color: $gray;
  }
}
