.control-label {
  font-size: $font-size-h2;
  font-weight: $headings-font-weight;
}

.modal {
  .control-label {
    font-size: 1rem;
  }
}

.help-block {
  color: $gray;
  font-size: .75rem;
  font-style: italic;
}
