.control-label {
  font-size: $font-size-h2;
  font-weight: $headings-font-weight;
}

.modal {
  .control-label {
    font-size: 1rem;
  }
}

.help-block {
  color: $gray;
  font-size: .75rem;
  font-style: italic;
}

.custom-forms {
  .form-group {
    position: relative;

    &:after {
      bottom: .4rem;
      content: '>';
      font-weight: $headings-font-weight;
      pointer-events: none;
      position: absolute;
      right: .4rem;
      transform: rotate(90deg);
    }
  }

  .form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    height: calc(1rem * #{$line-height} + .375rem * 2 + 2px);
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .form-control {
      padding-right: 1rem;
    }
  }
}
