.frontpage-list {
  &__heading {
    background-color: $brand-primary;
    color: $white;
    height: $navbar-height;
    line-height: $navbar-height;
    margin: 0;
    text-align: center;
  }

  &__content {
    background-color: $white;
    border: $border-width solid $border-color;
    border-top: 0;
    padding: $spacer / (3 / 2) $spacer / 2 $spacer / 2;
  }
}
