.navbar-light {
  background-color: $white;
}

.navbar {
  border-bottom: $border-width * 2 solid $border-color;
  padding: $navbar-padding;

  &__container {
    align-items: center;
    display: flex;
    height: $navbar-height;
  }
}

.nav {
  flex-grow: 1;
}

.nav-link {
  font-weight: $headings-font-weight;
}
