.navbar {
  padding: $navbar-padding;

  &-light {
    background-color: $white;
    border-bottom: $border-width * 2 solid $border-color;
  }

  &-brand {
    line-height: 1.1;
    padding: 0;
  }

  &__container {
    align-items: center;
    display: flex;
    height: $navbar-height;
  }

  .btn-secondary {
    border: 0;
  }
}

.nav {
  flex-grow: 1;
}

.nav-link {
  font-weight: $headings-font-weight;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba($white, .75);

  &:focus,
  &:hover {
    color: rgba($white, 1);
  }
}
