body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

.container-fluid {
  max-width: map-get($container-max-widths, xl);
  // chrome bugfix
  width: 100%;
}

.sidebar {
  margin-top: $spacer;

  @media (min-width: map-get($grid-breakpoints, md)) {
    margin-top: 0;
  }
}
