.logo {
  align-items: center;
  color: $body-color;
  display: flex;

  &__image {
    height: $logo-height;
    width: $logo-width;
  }

  &:focus,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.logo-text {
  display: inline-block;
  line-height: 1;

  &__title {
    font-size: 2rem;
    font-weight: $headings-font-weight;
    margin-left: -.05em;
    margin-top: -.1em;
  }

  &__tagline {
    font-size: .7rem;
    letter-spacing: .05em;
  }
}
