.note-group-select-from-files {
  display: none;
}

.note-editor {
  border-color: $body-color !important;
}

.note-popover {
  display: none;
}

.note-statusbar,
.panel-heading {
  background-color: $white !important;
}
