// Colors
$gray-dark: #2b2b2b;
$gray: #6b6b6b;
$gray-light: #b8b8b8;
$gray-lighter: #f7f7f7;
$gray-lightest: #f9f9f9;

$brand-primary: #17a7db;
$brand-purple: #f40076;
$brand-yellow: #fec846;
$brand-success: hsl(61, 80%, 34%);
$brand-info: $brand-primary;
$brand-warning: hsl(45, 100%, 38%);
$brand-danger: $brand-purple;

$body-bg: $gray-lighter;
$body-color: $gray-dark !default;

$white: #fff;
$black: #000;

$border-color: $gray-light;
$table-border-color: $white;

$state-success-text: $white;
$state-success-bg: $brand-success;
$state-info-text: $white;
$state-info-bg: $brand-primary;
$state-warning-text: $white;
$state-warning-bg: $brand-warning;
$state-danger-text: $white;
$state-danger-bg: $brand-danger;

// Fix dashboard grid issues
// Had to disable again because IE + Edge issues
$enable-flex: false;

// Border
$border-radius: .4rem;
$border-radius-lg: .6rem !default;
$border-radius-sm: .2rem !default;

// Sizes
$border-width: 1px !default;
$dropdown-min-width: 10rem;

//fonts
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-root: 1.25rem; // 20px
$body-font-weight: 300;
$h3-font-weight: 400;
$headings-font-weight: 700;
$font-size-h1: 1.8rem; // 36px
$font-size-h2: 1.2rem; // 24px
$font-size-h3: 1.2rem;
$btn-font-weight: $headings-font-weight;

// Icons
$icon-height: $font-size-h2;
$icon-width: $icon-height;

// navbar
$navbar-light-color: $body-color;
$navbar-border-radius: 0;
$navbar-height: 6rem;
$navbar-padding: .5rem 0;

// logo
$logo-height: 3rem;
$logo-width: $logo-height * 5 / 4;
