{% extends "base.html" %}
{% load bootstrap3 %}

{% block head_title %}
{% if biosensor %} Rediger {% else %} Opret {% endif %}
{% endblock %}

{% block main %}

<h1 class="m-b-2">
{% if biosensor %} Rediger {% else %} Opret {% endif %} biosensor
</h1>

<div class="row">

<div class="col-md-8">

{% if biosensor %}
  <form method="POST" action="{% url 'biobricks:edit_biosensor' biosensor.id %}" class="form">
{% else %}
  <form method="POST" action="{% url 'biobricks:new_biosensor' %}" class="form">
{% endif %}
    {% csrf_token %}

    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">
      <span class="center-y">
        {% if biosensor %}
          Gem ændringer
        {% else %}
          Opret biosensor
        {% endif %}
      </span>
    </button>
    <a class="btn btn-link" href="{% url 'studentgroups:dashboard' %}">Annullér</a>
</form>

</div>

</div>

{% endblock %}
