{% extends "base.html" %}
{% block head_title %}Dashboard{% endblock %}

{% block main %}

<h1>Dashboard</h1>
<a class="btn btn-primary m-y-1" href="{% url 'biobricks:new_biosensor' %}">
  <span class="center-y">
    Opret biosensor
    <svg role="img" class="icon" title="Opret ny gruppe">
      <use xlink:href="/static/sprite.svg#sprite_description_add"/>
    </svg>
  </span>
</a>

<section>
<h2>Mine biosensorer</h2>

{% if biosensors %}
<table class="table table-zebra">
  <tr>
    <th>Navn</th>
    <th>Detektor gen</th>
    <th>Respons gen</th>
    <th>Kategori</th>
    <th>Problembeskrivelse</th>
    <th>Risikobeskrivelse</th>
    <th></th>
    <th></th>
  </tr>
  {% for biosensor in biosensors %}
    <tr>
      <td><a href="{% url 'biobricks:show_biosensor' biosensor.id %}">{{biosensor.name}}</a></td>
      <td>{{biosensor.detector}}</td>
      <td>{{biosensor.responder}}</td>
      <td>{{biosensor.category}}</td>
      <td>{{biosensor.problem_description}}</td>
      <td>{{biosensor.risk_description}}</td>
      <td class="text-center">
        <a href="{% url 'biobricks:delete_biosensor' biosensor.id %}">
          <svg role="img" class="icon" title="Slet biosensor">
            <use xlink:href="/static/sprite.svg#sprite_delete"/>
          </svg>
        </a>
      </td>
      <td class="text-center">
        <a href="{% url 'biobricks:edit_biosensor' biosensor.id %}">
          <svg role="img" class="icon" title="Rediger biosensor">
            <use xlink:href="/static/sprite.svg#sprite_mode_edit"/>
          </svg>
        </a>
      </td>
    </tr>
  {% endfor %}
</table>
{% else %}
<p><em>Du har ingen biosensorer</em></p>
{% endif %}

</section>

{% endblock %}
