{% extends "base.html" %}
{% block head_title %}Dashboard{% endblock %}

{% block main %}

<div class="row">
  <div class="col-xs-12">

    <h1>{{student_group.name}}</h1>
    <h3>{{student_group.school_class}}</h3>
    <a class="btn btn-primary m-y-1" href="{% url 'biobricks:new_biosensor' %}">
      <span class="center-y">
        Opret biosensor
        <svg role="img" class="icon" title="Opret ny biosensor">
          <use xlink:href="/static/sprite.svg#sprite_description_add"/>
        </svg>
      </span>
    </a>
  </div>
  <section class="col-md-8 col-xs-12">
    <h2>Biosensorer</h2>
    {% for biosensor in student_group.biosensors.all %}
      {% include 'biosensor/_biosensor-card.html' %}
    {% empty %}
      <p><em>Din gruppe har ingen biosensorer</em></p>
    {% endfor %}
  </section>

  <aside class="col-md-4 col-xs-12">
    <h2>Gruppemedlemmer</h2>

    <ul class="no-list-style">
      {% for student in student_group.students.all %}
        <li>{{student.user.first_name}} {{student.user.last_name}}</li>
      {% endfor %}
    <ul>
  </aside>
</div>

{% endblock %}
