{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block head_title %}Upload rapport{% endblock %}

{% block head_statics %}
{{ form.media }}
{% endblock %}

{% block main %}

<h2>Upload rapport</h2>

<div class="row">
    <div class="col-md-10">
       <form class="new-report" method="post" action="{% url 'studentgroups:new_report' biosensor.id %}">
          {% csrf_token %}
          {% bootstrap_field form.introduction %}
          {% bootstrap_field form.method %}
          {% bootstrap_field form.results %}
          {% bootstrap_field form.discussion %}
          {% bootstrap_field form.conclusion %}
          <button class="btn btn-primary" type="submit">Upload rapport &raquo;</button>
       </form>
    </div>
</div>
</div>

{% endblock %}

