{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block head_title %}
{% if report %} Rediger rapport {% else %} Opret rapport{% endif %} | {{ block.super }}
{% endblock %}

{% block summernote_scripts %}
{{ form.media }}
{% endblock %}

{% block main %}

<h1>
  {% if report %} Rediger rapport {% else %} Opret rapport for {{biosensor.name}}{% endif %}
</h1>

<form method="post"
  {% if report %}
    action="{% url 'studentgroups:edit_report' biosensor.id report.id %}"
  {% else %}
    action="{% url 'studentgroups:new_report' biosensor.id %}"
  {% endif %}
  enctype="multipart/form-data">

  <div class="row">
    <div class="col-md-8">
      {% csrf_token %}
      <div class="m-y-2">
        {% bootstrap_field form.resume %}
      </div>
      <div class="m-y-2">
        {% bootstrap_field form.method %}
      </div>
      <div class="m-y-2">
        {% bootstrap_field form.results %}
      </div>
      <div class="m-y-2">
        {% bootstrap_field form.conclusion %}
      </div>
      {% if report %}
        <button class="btn btn-primary" type="submit">Gem ændringer</button>
      {% else %}
        <button class="btn btn-primary" type="submit">Opret rapport</button>
      {% endif %}
      <a class="btn btn-link" href="{% url 'studentgroups:dashboard' %}">Annullér</a>
    </div>

    <div class="col-md-4">
      <h2 class="m-t-2">Kategori</h2>
      <p>{{biosensor.category.name}}</p>

      <h2>Detektor gen</h2>
      <p><a href="{% url 'biobricks:show' biosensor.detector.slug %}">{{biosensor.detector.name}}</a></p>

      <h2>Respons gen</h2>
      <p><a href="{% url 'biobricks:show' biosensor.responder.slug %}">{{biosensor.responder.name}}</a></p>

      <div class="form-group">
        <h2>Billede</h2>
        {% if report and report.image %}
          <p>
            <img src="{{report.image.url}}" />
            <a href="#" class="upload-mode">Vælg andet billede</a>
          </p>
        {% endif %}
        <label class="file" {% if report and report.image %} style="display:none" {% endif %}>
          <input class="inputfile" type="file" name="image">
          <span class="picture-upload file-custom">Vælg png/jpg...</span>
        </label>
      </div>

      <h2>Fil</h2>
      <a href="">
        <svg role="img" class="icon" title="Opret ny biosensor">
          <use xlink:href="/static/sprite.svg#sprite_description_add"/>
        </svg>
        Tilføj fil
      </a>
    </div>
  </div>
</form>

{% endblock %}
