{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block head_title %}
{% if report %} Rediger rapport {% else %} Opret rapport{% endif %} | {{ block.super }}
{% endblock %}

{% block summernote_scripts %}
{{ form.media }}
{% endblock %}

{% block main %}

<h1>
  {% if report %} Rediger rapport {% else %} Skriv resumé for {{biosensor.name}}{% endif %}
</h1>

<form method="post"
  {% if report %}
    action="{% url 'studentgroups:edit_report' biosensor.id report.id %}"
  {% else %}
    action="{% url 'studentgroups:new_report' biosensor.id %}"
  {% endif %}
  enctype="multipart/form-data">

  <div class="row">
    <div class="col-md-8">
      {% csrf_token %}
      <div class="m-y-2">
        {% bootstrap_field form.resume %}
      </div>
      {% if report %}
        <button class="btn btn-primary" type="submit">Gem ændringer</button>
      {% else %}
        <button class="btn btn-primary" type="submit">Opret rapport</button>
      {% endif %}
      <a class="btn btn-link" href="{% url 'studentgroups:dashboard' %}">Annullér</a>
    </div>

    <div class="col-md-4">
      <h2>Detektor gen</h2>
      <p><a href="{% url 'biobricks:show' biosensor.detector.slug %}">{{biosensor.detector.name}}</a></p>

      <h2>Respons gen</h2>
      <p><a href="{% url 'biobricks:show' biosensor.responder.slug %}">{{biosensor.responder.name}}</a></p>

      <!-- TODO: maybe reuse markup for new forms
        <h2>Billede</h2>
          <div class="form-group">
            {% if report and report.image %}
              <p>
                <img src="{{report.image.url}}" />
                <a href="#" class="upload-mode">Vælg andet billede</a>
              </p>
            {% endif %}
            <label class="file" {% if report and report.image and not form.image.errors %} style="display:none" {% endif %}>
              <input class="inputfile" type="file" name="image">
              <span class="file-custom">Vælg png/jpg...</span>
            </label>
            {{form.image.errors}}
          </div>

          <h2>Regneark</h2>
          <div class="form-group">
            {% if report and report.attachment %}
              <p>
                <a href="{{report.attachment.url}}">Download fil</a>
                <span class="upload-mode">eller <a href="#">upload en ny</a></span>
              </p>
            {% endif %}
            <label class="file" {% if report and report.attachment and not form.attachment.errors %} style="display:none" {% endif %}>
              <input class="inputfile" type="file" name="attachment">
              <span class="file-custom">Vælg xls/xlsx...</span>
            </label>
            {{form.attachment.errors}}
          </div>
        -->
    </div>
  </div>
</form>

{% endblock %}
