<h2>MTP placering</h2>

<div class="mtp-container"> <!-- Needed because fuck IE -->
  <svg class="mtp" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 304 209">
    <text class="mtp__text" text-anchor="middle">
      <tspan x="5" y="33">A</tspan>
      <tspan x="5" y="57">B</tspan>
      <tspan x="5" y="81">C</tspan>
      <tspan x="5" y="105">D</tspan>
      <tspan x="5" y="129">E</tspan>
      <tspan x="5" y="153">F</tspan>
      <tspan x="5" y="177">G</tspan>
      <tspan x="5" y="201">H</tspan>
      <tspan x="27" y="10">1</tspan>
      <tspan x="51" y="10">2</tspan>
      <tspan x="75" y="10">3</tspan>
      <tspan x="99" y="10">4</tspan>
      <tspan x="123" y="10">5</tspan>
      <tspan x="147" y="10">6</tspan>
      <tspan x="171" y="10">7</tspan>
      <tspan x="195" y="10">8</tspan>
      <tspan x="219" y="10">9</tspan>
      <tspan x="243" y="10">10</tspan>
      <tspan x="267" y="10">11</tspan>
      <tspan x="291" y="10">12</tspan>
    </text>
    <g class="mtp__well {% for c in all_coords %}mtp__well-{{ c }} {% endfor %}">
      <circle cx="291" cy="197" r="12" class="circle-12h" />
      <circle cx="291" cy="173" r="12" class="circle-12g" />
      <circle cx="291" cy="149" r="12" class="circle-12f" />
      <circle cx="291" cy="125" r="12" class="circle-12e" />
      <circle cx="291" cy="101" r="12" class="circle-12d" />
      <circle cx="291" cy="77" r="12" class="circle-12c" />
      <circle cx="291" cy="53" r="12" class="circle-12b" />
      <circle cx="291" cy="29" r="12" class="circle-12a" />
      <circle cx="267" cy="197" r="12" class="circle-11h" />
      <circle cx="267" cy="173" r="12" class="circle-11g" />
      <circle cx="267" cy="149" r="12" class="circle-11f" />
      <circle cx="267" cy="125" r="12" class="circle-11e" />
      <circle cx="267" cy="101" r="12" class="circle-11d" />
      <circle cx="267" cy="77" r="12" class="circle-11c" />
      <circle cx="267" cy="53" r="12" class="circle-11b" />
      <circle cx="267" cy="29" r="12" class="circle-11a" />
      <circle cx="243" cy="197" r="12" class="circle-10h" />
      <circle cx="243" cy="173" r="12" class="circle-10g" />
      <circle cx="243" cy="149" r="12" class="circle-10f" />
      <circle cx="243" cy="125" r="12" class="circle-10e" />
      <circle cx="243" cy="101" r="12" class="circle-10d" />
      <circle cx="243" cy="77" r="12" class="circle-10c" />
      <circle cx="243" cy="53" r="12" class="circle-10b" />
      <circle cx="243" cy="29" r="12" class="circle-10a" />
      <circle cx="219" cy="197" r="12" class="circle-9h" />
      <circle cx="219" cy="173" r="12" class="circle-9g" />
      <circle cx="219" cy="149" r="12" class="circle-9f" />
      <circle cx="219" cy="125" r="12" class="circle-9e" />
      <circle cx="219" cy="101" r="12" class="circle-9d" />
      <circle cx="219" cy="77" r="12" class="circle-9c" />
      <circle cx="219" cy="53" r="12" class="circle-9b" />
      <circle cx="219" cy="29" r="12" class="circle-9a" />
      <circle cx="195" cy="197" r="12" class="circle-8h" />
      <circle cx="195" cy="173" r="12" class="circle-8g" />
      <circle cx="195" cy="149" r="12" class="circle-8f" />
      <circle cx="195" cy="125" r="12" class="circle-8e" />
      <circle cx="195" cy="101" r="12" class="circle-8d" />
      <circle cx="195" cy="77" r="12" class="circle-8c" />
      <circle cx="195" cy="53" r="12" class="circle-8b" />
      <circle cx="195" cy="29" r="12" class="circle-8a" />
      <circle cx="171" cy="197" r="12" class="circle-7h" />
      <circle cx="171" cy="173" r="12" class="circle-7g" />
      <circle cx="171" cy="149" r="12" class="circle-7f" />
      <circle cx="171" cy="125" r="12" class="circle-7e" />
      <circle cx="171" cy="101" r="12" class="circle-7d" />
      <circle cx="171" cy="77" r="12" class="circle-7c" />
      <circle cx="171" cy="53" r="12" class="circle-7b" />
      <circle cx="171" cy="29" r="12" class="circle-7a" />
      <circle cx="147" cy="197" r="12" class="circle-6h" />
      <circle cx="147" cy="173" r="12" class="circle-6g" />
      <circle cx="147" cy="149" r="12" class="circle-6f" />
      <circle cx="147" cy="125" r="12" class="circle-6e" />
      <circle cx="147" cy="101" r="12" class="circle-6d" />
      <circle cx="147" cy="77" r="12" class="circle-6c" />
      <circle cx="147" cy="53" r="12" class="circle-6b" />
      <circle cx="147" cy="29" r="12" class="circle-6a" />
      <circle cx="123" cy="197" r="12" class="circle-5h" />
      <circle cx="123" cy="173" r="12" class="circle-5g" />
      <circle cx="123" cy="149" r="12" class="circle-5f" />
      <circle cx="123" cy="125" r="12" class="circle-5e" />
      <circle cx="123" cy="101" r="12" class="circle-5d" />
      <circle cx="123" cy="77" r="12" class="circle-5c" />
      <circle cx="123" cy="53" r="12" class="circle-5b" />
      <circle cx="123" cy="29" r="12" class="circle-5a" />
      <circle cx="99" cy="197" r="12" class="circle-4h" />
      <circle cx="99" cy="173" r="12" class="circle-4g" />
      <circle cx="99" cy="149" r="12" class="circle-4f" />
      <circle cx="99" cy="125" r="12" class="circle-4e" />
      <circle cx="99" cy="101" r="12" class="circle-4d" />
      <circle cx="99" cy="77" r="12" class="circle-4c" />
      <circle cx="99" cy="53" r="12" class="circle-4b" />
      <circle cx="99" cy="29" r="12" class="circle-4a" />
      <circle cx="75" cy="197" r="12" class="circle-3h" />
      <circle cx="75" cy="173" r="12" class="circle-3g" />
      <circle cx="75" cy="149" r="12" class="circle-3f" />
      <circle cx="75" cy="125" r="12" class="circle-3e" />
      <circle cx="75" cy="101" r="12" class="circle-3d" />
      <circle cx="75" cy="77" r="12" class="circle-3c" />
      <circle cx="75" cy="53" r="12" class="circle-3b" />
      <circle cx="75" cy="29" r="12" class="circle-3a" />
      <circle cx="51" cy="197" r="12" class="circle-2h" />
      <circle cx="51" cy="173" r="12" class="circle-2g" />
      <circle cx="51" cy="149" r="12" class="circle-2f" />
      <circle cx="51" cy="125" r="12" class="circle-2e" />
      <circle cx="51" cy="101" r="12" class="circle-2d" />
      <circle cx="51" cy="77" r="12" class="circle-2c" />
      <circle cx="51" cy="53" r="12" class="circle-2b" />
      <circle cx="51" cy="29" r="12" class="circle-2a" />
      <circle cx="27" cy="197" r="12" class="circle-1h" />
      <circle cx="27" cy="173" r="12" class="circle-1g" />
      <circle cx="27" cy="149" r="12" class="circle-1f" />
      <circle cx="27" cy="125" r="12" class="circle-1e" />
      <circle cx="27" cy="101" r="12" class="circle-1d" />
      <circle cx="27" cy="77" r="12" class="circle-1c" />
      <circle cx="27" cy="53" r="12" class="circle-1b" />
      <circle cx="27" cy="29" r="12" class="circle-1a" />
    </g>
    <g class="mtp__content {% for c in active_coords %}mtp__content-{{ c }} {% endfor %}">
      <circle cx="291" cy="197" r="12" class="circle-12h mtp__responder" />
      <circle cx="291" cy="173" r="12" class="circle-12g mtp__responder" />
      <circle cx="291" cy="149" r="12" class="circle-12f mtp__responder" />
      <circle cx="291" cy="125" r="12" class="circle-12e mtp__responder" />
      <circle cx="291" cy="101" r="12" class="circle-12d mtp__responder" />
      <circle cx="291" cy="77" r="12" class="circle-12c mtp__responder" />
      <circle cx="291" cy="53" r="12" class="circle-12b mtp__responder" />
      <circle cx="291" cy="29" r="12" class="circle-12a mtp__responder" />
      <circle cx="267" cy="197" r="12" class="circle-11h mtp__responder" />
      <circle cx="267" cy="173" r="12" class="circle-11g mtp__responder" />
      <circle cx="267" cy="149" r="12" class="circle-11f mtp__responder" />
      <circle cx="267" cy="125" r="12" class="circle-11e mtp__responder" />
      <circle cx="267" cy="101" r="12" class="circle-11d mtp__responder" />
      <circle cx="267" cy="77" r="12" class="circle-11c mtp__responder" />
      <circle cx="267" cy="53" r="12" class="circle-11b mtp__responder" />
      <circle cx="267" cy="29" r="12" class="circle-11a mtp__responder" />
      <circle cx="243" cy="197" r="12" class="circle-10h mtp__responder" />
      <circle cx="243" cy="173" r="12" class="circle-10g mtp__responder" />
      <circle cx="243" cy="149" r="12" class="circle-10f mtp__responder" />
      <circle cx="243" cy="125" r="12" class="circle-10e mtp__responder" />
      <circle cx="243" cy="101" r="12" class="circle-10d mtp__responder" />
      <circle cx="243" cy="77" r="12" class="circle-10c mtp__responder" />
      <circle cx="243" cy="53" r="12" class="circle-10b mtp__responder" />
      <circle cx="243" cy="29" r="12" class="circle-10a mtp__responder" />
      <circle cx="219" cy="197" r="12" class="circle-9h mtp__responder" />
      <circle cx="219" cy="173" r="12" class="circle-9g mtp__responder" />
      <circle cx="219" cy="149" r="12" class="circle-9f mtp__responder" />
      <circle cx="219" cy="125" r="12" class="circle-9e mtp__responder" />
      <circle cx="219" cy="101" r="12" class="circle-9d mtp__responder" />
      <circle cx="219" cy="77" r="12" class="circle-9c mtp__responder" />
      <circle cx="219" cy="53" r="12" class="circle-9b mtp__responder" />
      <circle cx="219" cy="29" r="12" class="circle-9a mtp__responder" />
      <circle cx="195" cy="197" r="12" class="circle-8h mtp__responder" />
      <circle cx="195" cy="173" r="12" class="circle-8g mtp__responder" />
      <circle cx="195" cy="149" r="12" class="circle-8f mtp__responder" />
      <circle cx="195" cy="125" r="12" class="circle-8e mtp__responder" />
      <circle cx="195" cy="101" r="12" class="circle-8d mtp__responder" />
      <circle cx="195" cy="77" r="12" class="circle-8c mtp__responder" />
      <circle cx="195" cy="53" r="12" class="circle-8b mtp__responder" />
      <circle cx="195" cy="29" r="12" class="circle-8a mtp__responder" />
      <circle cx="171" cy="197" r="12" class="circle-7h mtp__responder" />
      <circle cx="171" cy="173" r="12" class="circle-7g mtp__responder" />
      <circle cx="171" cy="149" r="12" class="circle-7f mtp__responder" />
      <circle cx="171" cy="125" r="12" class="circle-7e mtp__responder" />
      <circle cx="171" cy="101" r="12" class="circle-7d mtp__responder" />
      <circle cx="171" cy="77" r="12" class="circle-7c mtp__responder" />
      <circle cx="171" cy="53" r="12" class="circle-7b mtp__responder" />
      <circle cx="171" cy="29" r="12" class="circle-7a mtp__responder" />
      <circle cx="147" cy="197" r="12" class="circle-6h mtp__detector" />
      <circle cx="147" cy="173" r="12" class="circle-6g mtp__detector" />
      <circle cx="147" cy="149" r="12" class="circle-6f mtp__detector" />
      <circle cx="147" cy="125" r="12" class="circle-6e mtp__detector" />
      <circle cx="147" cy="101" r="12" class="circle-6d mtp__detector" />
      <circle cx="147" cy="77" r="12" class="circle-6c mtp__detector" />
      <circle cx="147" cy="53" r="12" class="circle-6b mtp__detector" />
      <circle cx="147" cy="29" r="12" class="circle-6a mtp__detector" />
      <circle cx="123" cy="197" r="12" class="circle-5h mtp__detector" />
      <circle cx="123" cy="173" r="12" class="circle-5g mtp__detector" />
      <circle cx="123" cy="149" r="12" class="circle-5f mtp__detector" />
      <circle cx="123" cy="125" r="12" class="circle-5e mtp__detector" />
      <circle cx="123" cy="101" r="12" class="circle-5d mtp__detector" />
      <circle cx="123" cy="77" r="12" class="circle-5c mtp__detector" />
      <circle cx="123" cy="53" r="12" class="circle-5b mtp__detector" />
      <circle cx="123" cy="29" r="12" class="circle-5a mtp__detector" />
      <circle cx="99" cy="197" r="12" class="circle-4h mtp__detector" />
      <circle cx="99" cy="173" r="12" class="circle-4g mtp__detector" />
      <circle cx="99" cy="149" r="12" class="circle-4f mtp__detector" />
      <circle cx="99" cy="125" r="12" class="circle-4e mtp__detector" />
      <circle cx="99" cy="101" r="12" class="circle-4d mtp__detector" />
      <circle cx="99" cy="77" r="12" class="circle-4c mtp__detector" />
      <circle cx="99" cy="53" r="12" class="circle-4b mtp__detector" />
      <circle cx="99" cy="29" r="12" class="circle-4a mtp__detector" />
      <circle cx="75" cy="197" r="12" class="circle-3h mtp__detector" />
      <circle cx="75" cy="173" r="12" class="circle-3g mtp__detector" />
      <circle cx="75" cy="149" r="12" class="circle-3f mtp__detector" />
      <circle cx="75" cy="125" r="12" class="circle-3e mtp__detector" />
      <circle cx="75" cy="101" r="12" class="circle-3d mtp__detector" />
      <circle cx="75" cy="77" r="12" class="circle-3c mtp__detector" />
      <circle cx="75" cy="53" r="12" class="circle-3b mtp__detector" />
      <circle cx="75" cy="29" r="12" class="circle-3a mtp__detector" />
      <circle cx="51" cy="197" r="12" class="circle-2h mtp__detector" />
      <circle cx="51" cy="173" r="12" class="circle-2g mtp__detector" />
      <circle cx="51" cy="149" r="12" class="circle-2f mtp__detector" />
      <circle cx="51" cy="125" r="12" class="circle-2e mtp__detector" />
      <circle cx="51" cy="101" r="12" class="circle-2d mtp__detector" />
      <circle cx="51" cy="77" r="12" class="circle-2c mtp__detector" />
      <circle cx="51" cy="53" r="12" class="circle-2b mtp__detector" />
      <circle cx="51" cy="29" r="12" class="circle-2a mtp__detector" />
      <circle cx="27" cy="197" r="12" class="circle-1h mtp__detector" />
      <circle cx="27" cy="173" r="12" class="circle-1g mtp__detector" />
      <circle cx="27" cy="149" r="12" class="circle-1f mtp__detector" />
      <circle cx="27" cy="125" r="12" class="circle-1e mtp__detector" />
      <circle cx="27" cy="101" r="12" class="circle-1d mtp__detector" />
      <circle cx="27" cy="77" r="12" class="circle-1c mtp__detector" />
      <circle cx="27" cy="53" r="12" class="circle-1b mtp__detector" />
      <circle cx="27" cy="29" r="12" class="circle-1a mtp__detector" />
    </g>
  </svg>
</div>
