{% extends "base.html" %}

{% block head_title %}{{biosensor.name}}{% endblock %}

{% block main %}

<section>
  <h1>{{biosensor.name}}</h1>
</section>

<div class="row">
  <div class="col-md-8">
    <section>
      <h2>Problembeskrivelse</h2>
      <p>{{biosensor.problem_description}}</p>

      <h2>Risikobeskrivelse</h2>
      <p>{{biosensor.risk_description}}</p>
      {% if student_reports %}
        <h2>Rapporter</h2>

        <ul class="no-list-style">
          {% for r in student_reports %}
          <li>
            <a href="{% url 'biobricks:show_report' r.id %}">{{r.student_group.name}}, {{r.student_group.teacher.school.name}} ({{r.created|date:'F n, o'}})</a>
          </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if request.user.is_student_group %}
        <a class="btn btn-primary" href="{% url 'studentgroups:new_report' biosensor.id %}">Opret rapport</a>
      {% endif %}
    </section>

  </div>

  <div class="col-md-4">

    <h2>Kategori:</h2>
    <p>{{biosensor.category}}</p>

    <h2>Detektorgen:</h2>
    <p><a href="{% url 'biobricks:show' detector.slug %}">{{detector.name}}</a></p>

    <h2>Respondergen:</h2>
    <p><a href="{% url 'biobricks:show' responder.slug %}">{{responder.name}}</a></p>

  </div>

</div>

{% endblock %}
