{% extends "base.html" %}

{% block head_title %}{{report.biosensor.name}} | {{ block.super }}{% endblock %}

{% block main %}

<div class="row">
  <div class="col-md-8 col-sm-10 col-xs-12">
    <section>
      <h1>{{report.biosensor.name}}</h1>

      <h2>Resumé</h2>
      <p>{{report.resume|safe }}</p>

      <h2>Metode</h2>
      <p>{{report.method|safe }}</p>

      <h2>Resultater</h2>
      <p>{{report.results|safe }}</p>

      <h2>Diskussion og konklusion</h2>
      <p>{{report.conclusion|safe }}</p>

      {% if report.image %}
        <a class="cursor-zoom" href="{{report.image.url}}"><img src="{{report.image.url}}" /></a>
      {% endif %}
    </section>
  </div>
</div>

{% endblock %}
