{% extends "base.html" %}

{% block head_title %}{{report.biosensor.name}} | {{ block.super }}{% endblock %}

{% block main %}

<h1>Rapport til: {{report.biosensor.name}}</h1>
<p>
  Af:
    {{report.student_group.name}},
    {{report.student_group.teacher.school.name}}
    ({{report.created|date:'n. F o'}})
</p>

<a href="{% url 'biobricks:show_biosensor' report.biosensor.id %}">
  <svg role="img" class="icon inline-icon"
    title="Tilbage {{report.biosensor.name}}">
    <use xlink:href="/static/sprite.svg#sprite_arrow_back"/>
  </svg>
  {{report.biosensor.name}}
</a>

<div class="row">
  <section class="col-md-8 col-sm-12">
    <h2>Resumé</h2>
    {{report.resume|safe }}

    {% if report.image %}
      <a class="cursor-zoom" href="{{report.image.url}}">
        <img src="{{report.image.url}}" />
      </a>
    {% endif %}

    <h2>Problemformulering</h2>
    {{report.biosensor.problem_description|safe}}

    <h2>Risikobeskrivelse</h2>
    {{report.biosensor.risk_description|safe}}

    <h2>Metode</h2>
    {{report.method|safe}}

    <h2>Resultater</h2>
    {{report.results|safe}}

    <h2>Diskussion og konklusion</h2>
    {{report.conclusion|safe}}

  </section>
</div>

{% endblock %}
