{% extends "base.html" %}

{% block head_title %}{{biosensor.name}} | {{ block.super }}{% endblock %}

{% block main %}

<h1>{{biosensor.name}}</h1>
<p>Biosensor</p>

<div class="row">
  <section class="col-md-7 col-sm-12">

    <h2>Problemformulering</h2>
    <p>{{biosensor.problem_description|safe}}</p>

    <h2>Risikobeskrivelse</h2>
    <p>{{biosensor.risk_description|safe}}</p>

    {% if student_reports %}
      <h2>Rapport</h2>

      <ul class="no-list-style">
        {% for r in student_reports %}
        <li>
          <a href="{% url 'biobricks:show_report' r.id %}">
            <svg role="img" class="icon inline-icon"
              title="Rapport">
              <use xlink:href="/static/sprite.svg#sprite_description"/>
            </svg>
            {{r.student_group.name}},
            {{r.student_group.teacher.school.name}}
            ({{r.created|date:'n. F o'}})</a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>

  <aside class="col-md-4 col-md-offset-1 col-sm-6 col-xs-12">

    {% include "biobricks/_mtp.html" with all_coords=all_coords activate_coords=active_coords%}

    <h2>Kategori</h2>
    <p>{{biosensor.category}}</p>

    <h2>Detektor gen</h2>
    <p><a href="{% url 'biobricks:show' detector.slug %}">{{detector.name}}</a></p>

    <h2>Respons gen</h2>
    <p><a href="{% url 'biobricks:show' responder.slug %}">{{responder.name}}</a></p>

  </aside>

</div>

{% endblock %}
