{% extends "base.html" %}

{% block head_title %}{{biobrick.name}} | {{ block.super }}{% endblock %}

{% block main %}

<div class="row">
  <section class="col-md-8 col-sm-6 col-xs-12">
    <h1>
      {{biobrick.name}}
      <span class="label label-pill label-default pull-right">
        {% if biobrick.biobrick_type == 'responder' %}
          Responsgen
        {% else %}
          Detektorgen
        {% endif %}
      </span>
    </h1>

    <h2>Beskrivelse</h2>
    <p>{{biobrick.description|safe}}</p>

    <h2>Detektion</h2>
    <p>{{biobrick.design|safe}}</p>
  </section>

  <aside class="col-md-4 col-sm-6 col-xs-12">
    {% include "biobricks/_mtp.html" with all_coords=all_coords activate_coords=active_coords%}

    <h2>Kategori</h2>
    <p>{{biobrick.category}}</p>

    <h2>Yderligere info</h2>
    <ul class="no-list-style">
      <li>
        <button type="button" class="btn btn-primary btn-sm btn-dna" data-toggle="modal" data-target="#dnaModal">
          DNA-sekvens
        </button>
      </li>
      <li>
        <a target="_blank" href="http://parts.igem.org/Part:{{biobrick.igem_part}}">iGEM-part</a>
      </li>
      <li>
        <a target="_blank" href="{{biobrick.team_website}}">iGEM Team Wiki</a>
      </li>
    </ul>

    <!-- Modal -->
    <div class="modal fade" id="dnaModal" tabindex="-1" role="dialog"
         aria-labelledby="dnaModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title" id="dnaModalLabel">DNA-sekvens</h2>
          </div>
          <div class="modal-body">
            <pre class="m-y-1">{{biobrick.dna_sequence}}</pre>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>

{% endblock %}
