{% extends "base.html" %}

{% block head_title %}{{biosensor.name}}{% endblock %}

{% block main %}

<section>
<h2>{{biosensor.name}}</h2>

<p>Kategori: {{biosensor.category}}</p>

<h3>Problembeskrivelse</h3>
<p>{{biosensor.problem_description}}</p>

<h3>Risikobeskrivelse</h3>

<p>{{biosensor.risk_description}}</p>
</section>

<section class="row">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Detector</div>
      <div class="panel-body">
        <p>Navn: {{detector.name}}</p>
        <p>Kategori: {{detector.category}}</p>
        <p>Beskrivelse: {{detector.description}}</p>
        <p>Design: {{detector.design}}</p>
        <p><a href="http://parts.igem.org/Part:{{detector.igem_part}}">iGEM-part</a></p>
        <p><a href="{{detector.team_website}}">Team-website</a></p>
        <p>DNA-sekvens: {{detector.dna_sequence}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Responder</div>
      <div class="panel-body">
        <p>Navn: {{responder.name}}</p>
        <p>Kategori: {{responder.category}}</p>
        <p>Beskrivelse: {{responder.description}}</p>
        <p>Design: {{responder.design}}</p>
        <p><a href="http://parts.igem.org/Part:{{responder.igem_part}}">iGEM-part</a></p>
        <p><a href="{{responder.team_website}}">Team-website</a></p>
        <p>DNA-sekvens: {{responder.dna_sequence}}</p>
      </div>
    </div>
  </div>
</section>

<section>
{% if request.user.is_student_group %}
  <a class="btn btn-primary" href="{% url 'studentgroups:new_report' biosensor.id %}">Upload rapport</a>
{% endif %}
</section>

{% endblock %}
