Django==1.9.4
django-allauth==0.25.2
dj-database-url==0.3.0
django-postgrespool==0.3.0
psycopg2>=2.6
django-bootstrap3==6.2.2
bleach
django-gulp==2.3.0
django-compressor==2.0
gunicorn==19.5.0
django-nose
coverage
yanc
whitenoise==2.0.2
