{% extends "base.html" %}
{% block head_title %}Dashboard{% endblock %}

{% block main %}

<div class="row">
  <div class="col-xs-12">
    <h1>Dashboard</h1>
    <a class="btn btn-primary m-y-1" href="{% url 'teachers:new_student_group' %}">Opret ny gruppe</a>
  </div>

  {% if student_groups %}
    {% for group in student_groups %}
      {% ifchanged group.grade group.letter group.year %}
        <div class="col-xs-12 m-t-2">
          <h2>{{group.grade}}.{{group.letter}} {{group.year}}</h2>
        </div>
      {% endifchanged %}
      <div class="col-md-4 m-y-1">
        <h3 class="student-group">{{group.name}}
          <a class="student-group__delete" href="{% url 'teachers:delete_student_group' group.id %}">
            [del]
          </a>
          <a class="student-group__edit" href="{% url 'teachers:edit_student_group' group.id %}">
            [edit]
          </a>
        </h3>

        {% if group.biosensors_ %}
        <ul class="no-list-style">
          {% for biosensor in group.biosensors_ %}
          <li>
            {% if biosensor.has_report %}
            <a href="{% url 'teachers:show_student_report' biosensor.report_id %}">[report]</a>
            {% else %}
            [report]
            {% endif %}
            <a href="{% url 'biobricks:show_biosensor' biosensor.id %}">{{biosensor.name}}</a>
          </li>
          {% endfor %}
        </ul>
        {% else %}
          <p>Gruppen har ikke oprettet en biosensor</p>
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
</div>

{% endblock %}
