{% extends "base.html" %}
{% load bootstrap3 %}
{% block head_title %}
{% if student_group %} Rediger {% else %} Opret {% endif %} elevgruppe | {{ block.super }}
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-6">
      <h1>Opret en klasse</h1>



      <form class="signup p-t-1" id="signup_form" method="post" action="{% url 'teachers:new_school_class' %}">
        {% csrf_token %}
        {% bootstrap_form_errors form %}

        {% bootstrap_field form.letter %}
        {% bootstrap_field form.study_field %}
        {% bootstrap_field form.enrollment_year %}

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button id="class-creation" class="btn btn-primary m-t-2" type="submit">Opret klasse</button>
    </form>
  </div>
</div>
{% endblock %}
