{% extends "bioadmin/base.html" %}
{% load bootstrap3 %}

{% block head_title %}
Student report
{% endblock %}

{% block main %}

<h2>{{report.biosensor.name}}</h2>

<div class="row">

<div class="col-md-8">

  <h3>Introduktion</h3>
  <div>{{report.introduction|safe }}</div>

  <h3>Metode</h3>
  <div>{{report.method|safe }}</div>

  <h3>Resultater</h3>
  <div>{{report.results|safe }}</div>

  <h3>Diskussion</h3>
  <div>{{report.discussion|safe }}</div>

  <h3>Konklusion</h3>
  <div>{{report.conclusion|safe }}</div>

</div>

</div>

{% endblock %}





