{% extends "base.html" %}

{% block head_title %}Dashboard | {{ block.super }}{% endblock %}

{% block main %}

<h1>
  <strong>{{ school_class.study_field }}</strong>
  {{ school_class.letter }}-klassen årgang {{ school_class.enrollment_year }}
</h1>

<div class="row">
  <div class="col-md-8">
    {% include 'teachers/_student_groups.html' %}
    {% include 'teachers/_students.html' %}
  </div>

  <div class="col-md-4">
    {% include 'teachers/_school_class_code.html' %}
  </div>
</div>
{% endblock %}
