{% extends "base.html" %}

{% load bootstrap3 %}
{% load account %}

{% block head_title %}Glemt din adgangskode?{% endblock %}

{% block main %}

<div class="row">
  <div class="col-md-6">
    <h1>Glemt din adgangskode?</h1>

    <p>Har du glemt din adgangskode? Skriv din email nedenfor, så sender vi dig en email, der lader dig nulstill det.</p>

    <form method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary primaryAction" type="submit">Nulstil adgangskode</button>
    </form>
  </div>
</div>

{% endblock %}
