{% extends "base.html" %}
{% load bootstrap3 %}
{% load account %}

{% block head_title %}Sign In{% endblock %}

{% block main %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Log ind</h1>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-primary primaryAction" type="submit">Log ind</button>
    </form>
  </div>
</div>
{% endblock %}
