{% extends "base.html" %}
{% load bootstrap3 %}
{% load account %}
{% block head_title %}Signup{% endblock %}

{% block main %}

<h1>Sign Up</h1>

<p>
  Already have an account? Then please <a href="{{ login_url }}">sign in</a>
</p>

<div class="row">
    <div class="col-md-6">
       <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
         {% csrf_token %}
         {% bootstrap_form form %}
         {% if redirect_field_value %}
         <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
         {% endif %}
         {% buttons %}
         <button id="user-signup" class="btn btn-primary" type="submit">Sign Up</button>
         {% endbuttons %}
       </form>
    </div>
  </div>
</div>
{% endblock %}
