{% extends '_frontpage-list.html' %}

{% block list-content %}
  <div role="tablist" aria-multiselectable="true">
    <div class="card">
      {% for cat in categories %}
        {% if cat.items %}
          <a class="card-header card-link list-group-item list-group-item-action" role="tab" id="frontpage-collapse-{{cat.id}}-heading"
              href="#frontpage-collapse-{{cat.id}}"
              data-toggle="collapse"
              aria-expanded="true"
              aria-controls="frontpage-collapse-{{cat.id}}">
              {{ cat.name }}
          </a>


          <div id="frontpage-collapse-{{cat.id}}"
            class="collapse"
            role="tabpanel"
            aria-labelledby="frontpage-collapse-{{cat.id}}-heading">
            <div class="list-group list-group-flush" id="frontpage-collapse-{{cat.id}}">
              {% include '_frontpage-list-items.html' with items=cat.items %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
