{% extends '_frontpage-list.html' %}

{% block list-content %}
  <div role="tablist" aria-multiselectable="true">
    <div class="card" style="overflow:hidden;">
      {% for cat in categories %}
        {% if cat.items %}
          <div class="list-group list-group-flush"
            style="margin-bottom:-1px;">
            <a id="frontpage-collapse-{{cat.id}}-heading"
              class="list-group-item list-group-item-action"
              role="tab"
              href="#frontpage-collapse-{{cat.id}}"
              data-toggle="collapse"
              aria-expanded="true"
              aria-controls="frontpage-collapse-{{cat.id}}">
                {{ cat.name }}
            </a>
          </div>

          <div id="frontpage-collapse-{{cat.id}}"
            class="collapse list-group list-group-flush"
            style="margin-bottom:-1px;"
            role="tabpanel"
            aria-labelledby="frontpage-collapse-{{cat.id}}-heading">
            {% include '_frontpage-list-items.html' with items=cat.items %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
