{% load account_tags %}
<nav class="navbar navbar-light">
  <div class="container-fluid navbar__container">
    {% include "_logo.html" %}
    <ul class="m-l-2 nav navbar-nav">
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle"
          type="button" id="dropdownTeacher" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
            Elev
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownTeacher">
            <a class="dropdown-item" href="/elev/tilmeld/">Tilmeld</a>
            <a class="dropdown-item" href="/elev/introduktion/">Introduktion</a>
            <a class="dropdown-item" href="/elev/teori/">Teori</a>
            <a class="dropdown-item" href="/elev/forsoegsvejledning/">Forsøgsvejledning</a>
            <a class="dropdown-item" href="/elev/loesninger/">Løsninger</a>
            <a class="dropdown-item" href="/elev/konkurrence/">Konkurrence</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle"
          type="button" id="dropdownTeacher" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
            Lærer
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownTeacher">
<a class="dropdown-item" href="{% url 'teachers:signup' %}">Tilmeld</a>
<a class="dropdown-item" href="/laerer/bestil/">Bestil Biosensor-kit</a>
            <a class="dropdown-item" href="/laerer/indberetningsskema/">Indberetningsskema</a>
            <a class="dropdown-item" href="/laerer/sikkerhedsdatablade/">Sikkerhedsdatablade</a>
<a class="dropdown-item" href="/laerer/vejledninger">Vejledninger</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="/sponsorer/">Sponsorer</a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle"
          type="button" id="dropdownTeacher" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
            Om Biosensor
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownTeacher">
            <a class="dropdown-item" href="/om-biosensor/biotech-academy/">Biotech Academy</a>
            <a class="dropdown-item" href="/om-biosensor/igem/">iGEM</a>
            <a class="dropdown-item" href="/om-biosensor/kontakt/">Kontakt</a>
          </div>
        </div>
      </li>
      <li class="nav-item pull-xs-right">
        {% if user.is_authenticated %}
          <div class="dropdown dropdown-right">
            <button class="btn btn-primary dropdown-toggle"
            type="button" id="dropdownMenu" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
              {% user_display request.user %}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
              {% if user.is_teacher %}
              <a class="dropdown-item" href="{% url 'teachers:dashboard' %}">Dashboard</a>
              {% elif user.is_student %}
              <a class="dropdown-item" href="{% url 'studentgroups:dashboard' %}">Dashboard</a>
              {% elif user.is_staff %}
              <a class="dropdown-item" href="{% url 'bioadmin:index' %}">Dashboard</a>
              {% endif %}
              <a class="dropdown-item" href="{% url 'account_logout' %}">Log ud</a>
            </div>
          </div>
        {% else %}
          <div class="dropdown dropdown-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
              Log ind
            </button>
          </div>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
