{% load staticfiles %}
{% load bootstrap3 %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock %} | Biosensor</title>
    <script src="//code.jquery.com/jquery-1.12.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.min.css" %}">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-77897870-1', 'auto');
        ga('send', 'pageview');

    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <h1 class="logo"><a href="{% url 'homepage' %}">Biosensor</a></h1>
          {% if user.is_authenticated %}
            <p class="pull-left">Du er logget ind som {{user.email}}</p>
          {% endif %}

          <ul class="nav nav-tabs">
          {% if user.is_authenticated %}
            <li class="pull-right"><a href="{% url 'account_logout'%}">Log ud</a></li>
            {% if user.is_admin %}
              <li class="pull-right"><a href="{% url 'bioadmin:index' %}">Dashboard</a></li>
            {% elif user.is_teacher %}
              <li class="pull-right"><a href="{% url 'teachers:dashboard' %}">Dashboard</a></li>
            {% elif user.is_student_group %}
              <li class="pull-right"><a href="{% url 'studentgroups:dashboard' %}">Dashboard</a></li>
            {% elif user.is_staff %}
              <li class="pull-right"><a href="{% url 'bioadmin:index' %}">Admin</a></li>
            {% endif %}
          {% else %}
            <li class="pull-right"><a href="{% url 'account_login' %}">Log ind</a></li>
            <li class="pull-right"><a href="{% url 'teachers:signup' %}">Tilmeld som lærer</a></li>
          {% endif %}
          </ul>

          {% bootstrap_messages %}

          {% block main %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>


