{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailcore_tags %}

{% block main %}

<section class="row">
  <div class="col-md-6 col-xs-12 m-b-2">
    <h1>Velkommen til biosensor</h1>
    {{frontpage.body|richtext}}
  </div>
  <div class="col-md-6 col-xs-12 m-b-2">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item" allowfullscreen
        src="//www.youtube.com/embed/IvUU8joBb1Q?rel=0&amp;showinfo=0" >
      </iframe>
    </div>
  </div>
</section>

<section class="row m-t-2">

  {% include "_categories.html" with heading='Biosensorer' categories=b_categories %}
  {% include "_categories.html" with heading='Detektorgener' categories=d_categories %}
  {% include "_categories.html" with heading='Responsgener' categories=r_categories %}

</section>

{% endblock %}
